#header {
    background-color: #1E531E; 
    text-align: center; 
    
}

  p{
    font-family:  Arial;
    font-size: 45 px;
  }

   A {
    color: #0205B8; 
    font-size: 45 px;
    
   }
   A:visited {
    color: #5E0E69; 
   }
   A:active {
    color: #FF0000; 
   }

   #backLink {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 35 px;
   }

   body {
    background-image: url('images/bluesky.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #464646;
  }